/* * {
    box-sizing: border-box;
  } */

body{
    background-image: url("imgs/background.jpeg");
    max-width:100%;
    overflow-x: hidden;  /* Prevents horizontal scroll */
    width: 100%;
}

.two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.wrapper{
  display: flex;
  flex-direction: row;
  padding-top: 3vw;
  padding-left: 3vw;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100vw;
  height: 120vh;
  /* border: 5px solid hotpink; */
}


/* .column-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10vh;
    background-image: url("../imgs/background.jpeg");
    text-align: center;
}
.column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aliceblue;
    padding: 3em;
} */

h1{
  color: rgb(13, 13, 58);
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
  margin-block-start:0em;
  margin-block-end: 0em;
}
h3{
  color: rgb(13, 13, 58);
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
  line-height: 1.5;
}
p{
  color: rgb(13, 13, 58);
  font-family: "Josefin Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.5;
  margin-block-start:0em;
  margin-block-end: 0em;
}

.basket{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: pan-y; 
  /* border: 5px solid green; */
}

#basket{
  position: relative;
  width: 35vw;
}

.heading{
  width: 40%;
  height: fit-content;
  margin: 2vw;
  /* border: 5px solid violet; */
}

.food img{
  width:15vw; 
  height:auto; 
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
  touch-action: none;  /* Prevents browser touch actions */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.food:hover {
  cursor: pointer;
}

  img { 
      display: inline-block; 
  }
  
  #sandwich{
    rotate: -20deg;   
  }
  
  #chocolatemilk{
    rotate: 10deg;
  }

  #mouth{
    position: relative;
    top: 20vh;
    width: 10vw;
    height:auto;
    transition: transform 1s ease;
  }

  #egg{
    rotate: 10deg;
  }

  #salad{
    rotate: -10deg;
  }

  .mouth{
    display: flex;
    align-items: flex-end;
    justify-content:end;
  }

  .dragging {
    opacity: 0.5;
}


#info{
  width: 4vw;
  height: auto;
  bottom: 2vw;
  position:fixed;
  z-index: 100;
}
.info{
display: flex;
text-decoration: none;
flex-direction: column;
padding: 5vw;
position: relative;
justify-content: flex-start;
align-items: flex-start;
max-width: 100vw;
max-height: 100vw;

}
  .mouth-active {
      filter: brightness(1.2);
  }
    
  /* The modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}


/* Modal content box */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    animation: slideDown 0.3s ease;
}

.eaten {
  opacity:0;
  transition: opacity 0.5s ease;
}

/* Slide down animation */
@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* The close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}
#home{
  position: fixed;
  top: 2vw;
  right: 2vw;
  padding: 1vw;
  height: 3vw;
  width: auto;
  z-index:99
}

/* MOBILE MOBILE MOBILE MOBILE  */

  @media screen and (max-width: 480px) {
    body{
      background-image: url("imgs/background.jpeg");
      background-size:cover;
    }

    .wrapper{
      max-width: 100vw;
      min-height: 50vh;
      padding: 2vh;
    }

    .two-column {
      display: flex;
      flex-direction: column;
  }

    .heading{
      width: fit-content;
      height: fit-content;
      margin-bottom: 1vh;
    }

    h1 {
      font-size: 3em;
  }
    h3 {
        font-size: 1.8em;
    }
    p {
      font-size: 1.2em;
    }

    .basket{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #basket{
      position: relative;
      width: 80vw;
    }

    #mouth{
      position: relative;
      top: 30vh;
      width: 30vw;
      height:auto;
    }

    .mouth{
      display: flex;
      align-items:flex-end;
      justify-content:end;
    }

    .food img{
      width: 35vw;
      height: auto;
    }
    
    #info{
      width: 10vw;
      height: auto;
      bottom: 2vw;
      position:fixed;
    }
    .info{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: 5vw;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100vw;
    max-height: 100vw;

  }
  #home{
    position: fixed;
    top: 2vw;
    right: 2vw;
    padding: 1vw;
    height: 8vw;
    width: auto;
  }
  }



  /* IPADDDDDDD  */

  @media screen and (min-width: 481px) and (max-width: 800px) {
    body{
      background-image: url("imgs/background.jpeg");
      background-size:cover;
    }

    .wrapper{
      max-width: 100vw;
      min-height: 50vh;
      padding: 2vh;
    }

    .two-column {
      display: flex;
      flex-direction: column;
  }

    .heading{
      width: fit-content;
      height: fit-content;
      margin-bottom: 1vh;
    }

    h1 {
      font-size: 7em;
  }
    h3 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }

    .basket{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #basket{
      position: relative;
      width: 60vw;
    }

    #mouth{
      position: relative;
      top: 30vh;
      width: 20vw;
      height:auto;
    }

    .mouth{
      display: flex;
      align-items:flex-end;
      justify-content:end;
    }

    .food img{
      width: 30vw;
      height: auto;
    }
    
    #info{
      bottom: 2vw;
      position:fixed;
      width: 7vw;
      height: auto;
    }
    .info{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: 5vw;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    height: 100%;

  }
  #home{
    position: fixed;
    top: 2vw;
    right: 2vw;
    padding: 1vw;
    height: 6vw;
    width: auto;
  }
  }