/* * {
    box-sizing: border-box;
  } */

body{
    background-image: url("imgs/background.jpeg");
}

h1{
  color: rgb(13, 13, 58);
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15vw;
  margin-block-start:0em;
  margin-block-end: 0em;
}
h3{
  color: rgb(13, 13, 58);
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3vw;
}
p{
  color: rgb(13, 13, 58);
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin-block-start:0em;
  margin-block-end: 0em;
}

.wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  padding-left: 3vw;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  height: 250vh;
  /* border: 5px solid hotpink; */
}
.basket{
  position: relative;
  height: 150vh;
  width: auto;
  width: 100%;
  /* border: 5px solid green; */
}

#basket{
  position: relative;
  width: 80vw;
  height:auto;
  margin: 0;
  padding:0;
}

.heading{
  width: fit-content;
  height: fit-content;
  margin-bottom: 5vh;
}

.food img{
  width:20vw; 
  height:auto; 
  position: sticky; 
}

.food:hover {
  cursor: pointer;
}

  img { 
      display: inline-block; 
  }
  
  #sandwich{
    rotate: -20deg;   
  }
  
  #chocolatemilk{
    rotate: 10deg;
  }

  #mouth{
    position: relative;
    top: 20vh;
    width: 10vw;
    height:auto;
  }

  .mouth{
    display: flex;
    align-items: flex-end;
    justify-content:end;
  }

  .dragging {
    opacity: 0.5;
}

  .eaten {
      opacity: 0;
      transform: scale(0.5);
  }

  .mouth-active {
      filter: brightness(1.2);
  }
    
  /* The modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}


/* Modal content box */
.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    animation: slideDown 0.3s ease;
}

/* Slide down animation */
@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* The close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

.about{
  text-decoration:none;
  text-decoration:underline wavy; 
  top: 50vh; 
  text-align: center;
}

a {
  color: plum; 
  text-decoration: none;
}

  @media (max-width: 500px) {
    body{
      background-image: url("imgs/background.jpeg");
      background-size:cover;
    }

    .wrapper{
      /* margin: 2vw;
      padding: 2vw; */
      max-width: 100%;
      height: 200vh;
    }

    .heading{
      width: fit-content;
      height: fit-content;
      margin-bottom: 10vh;
    }

    h1{
      font-size: 30vw;
    }

    h3{
        font-weight: 500;
        font-style: normal;
        font-optical-sizing: auto;
        font-size: 8vw;
        line-height: 1.3em;
    }
    p{
        color: rgb(13, 13, 58);
        font-family: "Josefin Slab", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2em;
        margin-block-start:0em;
        margin-block-end: 0em;
    }

    .basket{
      width: 100%;
      height: 120vw;
      /* border: 5px solid green; */
    }
    
    #basket{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 120vw;
    }

    #mouth{
      position: relative;
      top: 100vh;
      width: 30vw;
      height:auto;
    }

    .mouth{
      display: flex;
      align-items: flex-end;
      justify-content:end;
    }

    .food img{
      width: 40vw;
      height: auto;
    }
  
  }