body{
  background-image: url("imgs/background.jpeg");
  max-width:100%;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(240, 247, 255);
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url("../imgs/background.jpeg");
    text-align: center;
    

}
.column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3em;
    padding-bottom: 3em;
}

.column-right > *:last-child {
  margin-bottom: 3em;
}

h1{
    color: rgb(13, 13, 58);
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin-block-start:0em;
    margin-block-end: 0em;
}
h3{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}
p{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.5vw;
    margin-block-start:0em;
    margin-block-end: 0em;
}

/* .heading{
  width: fit-content;
  height: fit-content;
  margin-bottom: 5em;
} */

.food img{
  position: sticky;
  top: 5vh;
  width:30vw;
  height:auto;
}

.food img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease; 
}
  
  #shrimp{
    padding: 10px; 
  }
  
  #chocolatemilk{
    padding: 10px;
  }

  #home{
    position: fixed;
    top: 2vw;
    right: 2vw;
    padding: 1vw;
    height: 3vw;
    width: auto;
  }

  a {
    color: rgb(43, 84, 180); 
    text-decoration: wavy underline 0.5px;
  }



  .entry-footer {
    max-width: 100%;
    background-image: url("../imgs/background.jpeg");
    padding: 3em;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .footer-content img {
    height: 20vw;
    width: auto;
    transition: transform 0.3s ease;
  }
  
  .footer-content img:hover {
    transform: scale(1.1);
  }

  
  @media screen and (max-width: 480px) {
    .two-column {
        grid-template-columns: 1fr;
    }
    .column-left, .column-right {
        padding: 2.2em;
    }

    h1,h3,p{
      padding-left: 4vw;
    }

    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 1.8em;
    }
    p {
      font-size: 1.2em;
    }

    #home{
      position: fixed;
      top: 2vw;
      right: 2vw;
      padding: 1vw;
      height: 8vw;
      width: auto;
    }
    .food img{
      position: sticky;
      width:50vw;
      height:auto;
    }


    .entry-footer {
      max-width: 100%;
      background-image: url("../imgs/background.jpeg");
      padding: 1em;
    }
    
    .footer-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
    
    .footer-content img {
      width: 40vw;
      height: auto;
      transition: transform 0.3s ease;
    }
    
    .footer-content img:hover {
      transform: scale(1.1);
    }
  

  }


  @media screen and (min-width: 481px) and (max-width: 767px) {
    body{
      background-image: url("imgs/background.jpeg");
      background-size:cover;
    }

    .two-column {
      display: flex;
      flex-direction: column;
  }

    h1 {
      font-size: 7em;
  }
    h3 {
      font-size: 2em;
    }
    p {
      font-size: 1.5em;
    }

    .food img{
      width: 35vw;
      height: auto;
    }

  #home{
    position: fixed;
    top: 2vw;
    right: 2vw;
    padding: 1vw;
    height: 6vw;
    width: auto;
  }
  }