.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px 4em; 
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10vh;
    background-image: url("../imgs/background.jpeg");
    text-align: center;
}
.column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aliceblue;
    padding: 3em;
}

h1{
    color: rgb(13, 13, 58);
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    margin-block-start:0em;
    margin-block-end: 0em;
}
h3{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}
p{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.5em;
    margin-block-start:0em;
    margin-block-end: 0em;
}

/* .heading{
  width: fit-content;
  height: fit-content;
  margin-bottom: 5em;
} */

.food img{
  position: relative;
}

  #sandwich{
    /* right: 500px; 
    top: 100px;
    height:1000px;  */
    width:30vw;
    height:auto;
  }
  
  #strawberries{
    width:30vw;
    height:auto;
  }
  
  #shrimp{
    padding: 10px;
    height:400px; 
    width:auto;   
  }
  
  #chocolatemilk{
    padding: 10px;
    height:400px; 
    width:auto; 
  }

  #home{
    position: absolute;
    left: 50px; 
    top: 50px;
    height: 50px;
    width: auto;
  }
  