.body{
  background: 100%;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 20px 4em; 
    min-height:100%;
}
.column-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 10vh;
    background-image: url("../imgs/background.jpeg");
    text-align: center;
}
.column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aliceblue;
    padding: 3em;
}

h1{
    color: rgb(13, 13, 58);
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin-block-start:0em;
    margin-block-end: 0em;
}
h3{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}
p{
    color: rgb(13, 13, 58);
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    font-size: 2vw;
    margin-block-start:0em;
    margin-block-end: 0em;
}

/* .heading{
  width: fit-content;
  height: fit-content;
  margin-bottom: 5em;
} */

.food img{
  position: sticky;
  width:30vw;
  height:auto;
}
  
  #shrimp{
    padding: 10px; 
  }
  
  #chocolatemilk{
    padding: 10px;
  }

  #home{
    position: fixed;
    left: 2vw; 
    top: 2vw;
    height: 5vw;
    width: auto;
    transition: transform 0.3s ease;
  }

  #home-hover{
    transform: scale(1.2);
  }

  a {
    color: rgb(25, 81, 210); 
    text-decoration: wavy underline 0.5px;
  }
  
  @media (max-width: 500px) {
    .two-column {
        grid-template-columns: 1fr;
    }
    .column-left, .column-right {
        padding: 1.5em;
    }

    h1,h3,p{
      padding-left: 4vw;
    }

    h1 {
        font-size: 10vw;
    }
    h3 {
        font-size: 7vw;
    }
    p {
      font-size: 5vw;
    }

    #home{
      position: fixed;
      left: 5vw; 
      top: 5vw;
      height: 15vw;
      width: auto;
    }
    .food img{
      position: sticky;
      width:50vw;
      height:auto;
    }
  }